:root {
    --wheel-scroll-distance: 100px;
    --num-scrolls: 6;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

#root {
    height: 100vh;
}

.hero {
    height: 100%;
    width: 100%;
    position: relative;

}

.hero > * {
    position: absolute;
    top: 50%;
    left: 50%;
}

.hero__img {
    transform: translate(-50%, -50%) scale(1.2);
}

.hero__text {
    width: 100%;
    text-align: center;
    font-weight: 600;
    transform: translate(-50%, -50%) scale(28);
}

.parallax {
    height: calc(100% + var(--wheel-scroll-distance) * var(--num-scrolls));
    width: 100%;
    background-image: url("./assets/headphones-threads.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.parallax-container {
    height: 100vh;
    width: 100%;
    /*display: flex;*/
    /*align-items: center;*/
    position: sticky;
    top: 0;
}

.parallax__text-list {
    /*height: 50%;*/
    width: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.parallax__text-container {
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 4rem;
    text-align: center;
    list-style-type: none;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.parallax__text-container:nth-child(1) {
    opacity: 1;
}

.parallax__text-container:nth-child(2) {
    top: calc(50% + var(--wheel-scroll-distance) * 2)
}

.parallax__text-container:nth-child(3) {
    top: calc(50% + var(--wheel-scroll-distance) * 4)
}

.parallax__text-container:nth-child(4) {
    top: calc(50% + var(--wheel-scroll-distance) * 6)
}

.parallax__btn {
    width: 250px;
    border: 20px solid white;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    color: black;
    background: white;

}