*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

#root {
    height: 100vh;
}

.hero {
    height: 100%;
    width: 100%;
    position: relative;

}

.hero > * {
    position: absolute;
    top: 50%;
    left: 50%;
}

.hero__img {
    transform: translate(-50%, -50%) scale(1.2);
}

.hero__text {
    width: 100%;
    text-align: center;
    font-weight: 600;
    transform: translate(-50%, -50%) scale(28);
}

.parallax {
    height: 200%;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url("./assets/headphones-threads.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.parallax__text-list {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parallax__text-container {
    max-width: 800px;
    color: white;
    font-size: 4rem;
    text-align: center;
    list-style-type: none;
}

.parallax__btn {
    width: 250px;
    border: 20px solid white;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    color: black;
    background: white;

}